
<ul class="easydialog-create">
    <li><span class="left width80">彩种代码：</span><input type="text" id="modelCPCode" maxlength="20" class="input verify " data-empty="必填"/>
        <input type="text" id="modelAutoID" maxlength="20" style="display: none !important;" class="input verify " data-empty="必填"/>
    </li>
    <li><span class="left width80">彩种名称：</span><input type="text" id="modelCPName" maxlength="20" class="input verify " data-empty="必填"/></li>
    <li><span class="left width80">彩种标签：</span><select id="modelIconType">
        <option value="1" title="新品">新品</option>
        <option value="2" title="热门">热门</option>
        <option value="0">无</option>
    </select></li>
    <li><span class="left width80">开奖地址：</span><input type="text" id="modelResultUrl" maxlength="20" class="input "  /></li>
</ul>