{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td class="tLeft">{%=item.CPCode%}</td>
    <td class="tLeft">{%=item.CPName%}</td>
    <td class="tLeft">{%=item.IconType%}</td>
    <td class="tLeft">{%=item.Sort%}</td>
    <td class="tLeft"><div class="status" data-id="{%=item.AutoID%}" data-value="{%=item.Status==1%}"></div></td>
    <td class='center'>{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
    <td class='center'>{%=(item.CreateUser ? item.CreateUser.Name:"--")%}</td>
    <td class='center'><a href="/SysSet/RolePermission/{%=item.AutoID%}" class="setpermission" data-type="{%=item.IsDefault%}" data-id="{%=item.RoleID%}">设置玩法</a></td>
    <td class="center dropdown" data-type="{%=item.Status%}" data-id="{%=item.AutoID%}">
        <span data-type="{%=item.Status%}" class="ico-dropdown"></span>
    </td>
</tr>
{% } %}
