*{margin:0;padding:0;list-style:none;text-decoration:none;font-family:"微软雅黑";color: #796E6E;}
h3{font-size: 18px;}
.clear{height: 0;overflow: hidden;clear: both;}
header,.process,.recommend,.select,.rentGirlFr{width: 960px;margin:0 auto;}
header ul.log-reg{height: 18px;float: right;margin-top: 10px;}
header ul.log-reg li{display: inline-block;padding:0 5px;max-width: 90px;}
header ul.log-reg li:last-child{padding-right: 0;}
header ul.log-reg li a:link,header ul.log-reg li a:visited{color: black;}
header ul.log-reg li a:hover{text-decoration: underline;color: #f15481;}
.hide{ display: none !important;}
header .siteExp{float: right;margin-top: -60px;margin-left: -60px;}
header>a img{margin-top: 20px;}
.navs{width: 100%;min-width: 960px;background: #f15481;height: 40px;line-height: 40px;font-size: 18px;}
.navs ul{width: 960px;margin: 0 auto;height: 40px;}
.navs ul li{display: inline-block;width: 87px;text-align: center;vertical-align: top;}
.navs ul li a{width: 100%;height: 100%;display: inline-block;color: white;}
.navs ul li a:hover{background: #FF7BA1;}
.navs ul li:last-child{font-size: 15px;line-height: 15px;margin-top: 5px;width: 200px;color: white;margin-left: 100px;letter-spacing: 3px;}
.navs ul li:last-child span{letter-spacing: 0;margin: 0 10px;}

footer{width: 100%;min-width: 960px;background: #eaeaea;padding-top: 20px;padding-bottom: 20px;}
footer .foot{width: 960px;margin: 0 auto;}
footer .foot .friendLink p{margin-bottom: 7px;}
footer .foot .friendLink ul li{display: inline-block;margin-right: 10px;}
footer .foot .friendLink ul li a,footer .foot .bottomMsg p a{color: black;}
footer .foot .friendLink ul li a:hover,footer .foot .bottomMsg p a:hover{text-decoration: underline;color: #f15481;}
footer .foot .bottomMsg{margin-top: 15px;}
footer .foot .bottomMsg p{text-align: center;line-height: 30px;}

#basic-dialog-ok{width: 600px;height: 400px;border:3px solid #eee;background: #fefefe;padding: 10px 20px 30px;}
#basic-dialog-ok .box-title h3{text-align: center;margin-top: 15px;margin-bottom: 5px;}
#basic-dialog-ok .tips-title p{text-indent: 30px;line-height: 28px;font-size: 15px;}
#basic-dialog-ok .box-buttons{width: 100%;text-align: center;}
#basic-dialog-ok .box-buttons button{width: 70px;height: 28px;border: 1px solid #aaa;outline: none;cursor: pointer;}
#simplemodal-overlay 
{
    background-color:#FFA5E7;
    cursor:wait;
}
.feedback-dialog{position:fixed;top:20%;left: 35%;width: 350px;height: 300px;border:3px solid #eee;background: #fefefe;padding: 10px 20px 30px;}
.feedback-dialog .box-main{min-width: 300px;min-height: 300px;}
.feedback-dialog .box-title h3{text-align: center;margin-top: 15px;margin-bottom: 5px;}
.feedback-dialog .tips-title p{text-indent: 30px;line-height: 28px;font-size: 12px;}
.feedback-dialog .box-buttons{width: 100%;text-align: right;}
.feedback-dialog .box-buttons button{width: 70px;height: 28px;border: 1px solid #aaa;margin-top: 20px;outline: none;cursor: pointer;}
.feedback-dialog .simplemodal-ok{border: 1px solid #aaa;cursor: pointer;}
.feedback-dialog button:hover{background: #f22b64;color: #fff0f5;opacity: 0.8;}
.feedback-dialog .btna{width: 70px;height: 28px;line-height: 18px;border: 1px solid #ddd;background: #f22b64;
                       font-size: 12px; color: #fff;outline: none;cursor: pointer;padding: 4px 10px;}
.feedback-dialog .btna:hover{background: #f22bb4;color: #fff0f5;opacity: 0.9;}
.feedback-dialog:hover { border: 1px solid #f22bb4; }

.reply-dialog{position:absolute;top:20%;left: 35%;min-width: 300px;height: 140px;border-radius: 3px;
              border:1px solid #ddd;background: #fefefe;padding: 10px 10px 0px 10px;}
.reply-dialog .box-main{min-width: 300px;min-height: 140px;}
.reply-dialog .box-title h3{text-align: center;margin-top: 15px;margin-bottom: 5px;}
.reply-dialog .tips-title p{text-indent: 30px;line-height: 28px;font-size: 12px;}
.reply-dialog  textarea{width: 299px; outline: none; border: none; min-height: 100px;border-bottom: 1px solid #ddd;border-radius: 2px;text-indent: 3px;resize: none;}
.reply-dialog .box-buttons{width: 100%;text-align: right;} 
.reply-dialog .btna{width: 70px;height: 28px;line-height: 18px;border: 1px solid #ddd;background: #f22b64;
                       font-size: 12px; color: #fff;outline: none;cursor: pointer;padding: 4px 10px;}
.reply-dialog .tips-content{ overflow: auto; }
.reply-dialog .tips-content li{ float: left;font-size: 12px;width: 148px;line-height: 22px;cursor: pointer;}
.reply-dialog .tips-content li:hover{ color: #f22bb4;}
.reply-dialog .btna:hover{background: #f22bb4;color: #fff0f5;opacity: 0.9;}
.reply-dialog .tips-content li img{display: inline-block;vertical-align: middle; margin-top: -2px;}
.reply-dialog:hover { border: 1px solid #f22bb4; }