.recommend{margin-top:20px;}
.rentGirlFr .left{font-size: 14px;}
.rentGirlFr .left>ul li{width: 350px;float: left !important;}
.rentGirlFr .left>ul li>a{margin-right: 5px;float: left;}
.rentGirlFr .left>ul li>div{margin-top: 0;float: left;}
.rentGirlFr .left>ul li>div p:not(.desc){margin-bottom: 5px;}
.rentGirlFr .left>ul li>div p.desc{margin-top: 8px;margin-bottom: 8px;}

.like ul li{display: inline-block;}
.like ul li img:hover{outline:1px solid #f15481;} 
.rentGirlFr .right div.hire ul li{ color: #f22bb4;display: inline-block;width: 210px;height: 23px !important;line-height: 23px !important;}
.rentGirlFr .right div.hire ul li:hover{ color: #f15481;font-weight: bold;}
.myscroll3{height: 300px;overflow: hidden;margin-top: 15px;}