@{
    ViewBag.Title = "在线帮助";
}
    <link rel="stylesheet" type="text/css" href="/modules/css/user.css">
<link rel="stylesheet" type="text/css" href="/modules/css/help.css">
 <div class="select-section">
        <div class="select">
            <p>我要租：</p>
            <select id="seachtype" >
                <option value="0">租男友</option>
                <option value="1">租女友</option>
            </select>
            <p>年龄：</p>
            <select id="seachage">
                <option value="">不限</option>
                <option value="16~25">16~25</option>
                <option value="26~32">26~32</option>
                <option value="33~38">33~38</option>
                <option value="39~44">39~44</option>
                <option value="45~51">45~51</option>
                <option value="52~60">52~60</option>
            </select>
            <p>地区：</p>
            <select class="province" name="province3"></select>&nbsp;<select class="city"  name="city3"></select>&nbsp;<select  class="district" name="area3"></select>
            <a href="/RFriend/RentFriend/1" id="seacha"></a>
            <div class="clear"></div>
        </div>
    </div>
 <div class="content">
        <div class="sidebar">
            <ul>
                <li>网站介绍</li>
                <li>联系我们</li>
                <li>免责声明</li>
                <li>交友须知</li>
                <li>隐私保护</li>
                <li>服务条款</li>
            </ul>
        </div>
        <div class="cons">
            <div class="introduce">
                <h3>网站介绍</h3>
                <p>
                    租友网隶属于*******公司。租友网专注于旅游，伴游交友约会信息交流，专为情感孤独、寂寞的人士服务，帮助两颗寂寞的心相互靠近，用爱和帮助温暖彼此，享受幸福。历经三年的发展， 注册会员超过500万，且每天以近10000以上新会员注册的爆炸式高速增长，在白领等主素质人群，享有极高的知名度和极好的口碑，是国内最优秀的租友网站之一。
                </p>
                <h4>租友网的使命</h4>
                <p>
                    如果能让那些感情上需要慰籍的人彼此之间通过爱和帮助建立相互信赖、依存的关系，那我们也不枉做此站。要建立值得信赖的伴游或朋友关系，付出比索取更重要，需有双方积极的行动，因为彼此都渴望得到得到帮助。 我们专注于为广大网民提供最真实的伴游交友信息平台，只要你注册成为会员，在你寻找异性伴游的同时，也会有更多的异性网友通过租友网找到你，不论你是资深人士还是新手，只要你有足够的耐心，租友网都会让你收获那份意想不到的惊喜！同时，我们要求每一位会员注册真实的资料，这将有利于我们向你推荐众多符合你要求的同城异性伴游，让同城的你和她(或他)共享激情人生，一切从租友网开始......
                </p>
                <h4>为什么要加入租友网</h4>
                <p>
                    租友网是口碑传播的快捷伴游交友网站，海量优质会员，遍布全国332个地区；70%的白领会员，用户群体集中，24小时万人同时在线；用户资料精密审核，真实，有效，多种择友圈，让你方便找到所需；众多优秀人士在租友网邂逅了浪漫，找到了志同道合的有情人；租友网都市男女体验激情人生的最佳伴侣！ 这是一群与寂寞有染的人,他们通过网络来邂逅浪漫,在城市中徘徊寻找心灵的港湾,他们素质良好、收入可靠,他们不羁世俗、释放自我,他们认可积极开放的交友方式,并为之聚集——相聚租友网。
                </p>
            </div>
            <div class="contact" style="display: none;">
                <h3>联系我们</h3>
                <p>客服QQ:3203666376</p>
                <p>客服QQ:3203666376</p>
                <p>客服QQ:3203666376</p>
                <p>有问题请联系客服，或发送问题到相应的QQ邮箱，我们会尽快给您回复</p>
            </div>
            <div class="noresponse" style="display: none;">
                <h3>免责声明</h3>
                <p>一、用户在本站注册属自愿行为，本站不验证用户注册信息的真实性，对虚假注册信息不承担任何责任。</p>
                <p>二、用户在本站用他人资料注册的，如果发现可及时通知本站删除，本站不对此承担任何责任。</p>
                <p>三、找伴游，做伴游行为属网友个人行为，本站对双方伴游交往过程中发生的任何纠纷不承担责任。</p>
                <p>四、不得在本站发布任何政治性言论和色情内容以及图片，本站对网友发布的任何言论不承担责任，本站有权删除用户在本站发表的任何文章或图片。</p>
                <p>五、不得利用本站发布性交易信息，违者本站删除所发布的违法信息，并交公安机关处理。</p>
                <p>六、由于不可抗拒的原因，如自然灾害、断电、黑客袭击等造成用户信息丢失包括账户信息丢失的，本站不承担赔偿责任。</p>
                <p>七、用户之间相互联系、见面等行为与本站无关，用户之间发生违法、犯罪、侵权等事件与本站无关。 本站不承担任何责任。</p>
                <p>八、本站有权修改和删除用户的所有注册资料。</p>
                <p>九、本站有权修改网站内容和网站结构以及服务条款和服务内容，任何变更不征求用户的同意，不承担由此造成的任何损失和责任。</p>
                <p>十、任何个人和机构不得将租友网会员信息或联系方式发布在其它网站或告诉他人；任何个人或机构将租友网会员信息或联系方式发布在其它网站或告诉他人的，侵权人需承担由此造成的任何法律责任和赔偿。租友网站保留追究其侵权的权利。</p>
                <p>十一、会员自己在其它网站注册、发布信息与本站无关，租友网不承担任何责任。</p>
                <p>十二、租友网只为会员提供注册和相互查看注册资料的网站平台，租友网网站不参与除此之外的任何事务。会员应本着真诚、守法的原则交往。超出租友网服务范围的言语和行为，租友网网站不承担任何责任。</p>
            </div>
            <div class="known" style="display: none;">
                <h3>交友须知</h3>
                <p>租友网的全体工作人员通过自己的辛勤付出，努力为来此寻找伴游或是做伴游的会员朋友营造一方安全、真实、纯净、严肃的伴游空间。 我们希望每一位在此伴游的会员都能度过一段愉快的伴游旅程，希望大家遵守租友网所制定的有关条款，在伴游过程中尊重他人，真诚待人，同时掌握保护自己的交友常识。我们不会干涉会员之间的私人通信和交往，但是如果有人被骚扰攻击，并进行了投诉，我们将采取行动，调查被投诉人行为并做出处理。</p>
                <h4>交友安全提醒: </h4>
                <p>一、对陌生人时刻保持警惕不要轻信</p>
                <p>租友网会严格把关注册会员，尽管网站反复声明会员要遵守交友规则，不要蓄意欺骗、伤害他人。但是，我们仍然建议您保持警惕，除非您与对方已经有很长时间的交流，而且建立起了一定的信任，否则轻易不要与对方见面。有时候直觉会欺骗一个人，尽量多沟通，多交流，并且选择合适的见面时间和见面地点是对自己最好的保护。</p>
                <p>二、请勿和网友发生借贷关系</p>
                <p>社会新闻中常常看到被网友骗取财物的事件，我们提醒租友网的会员切勿和网友发生钱财或者物品的借贷关系。哪怕给比较熟悉的网友借钱，也务必留下凭据，以免发生不愉快的事情。</p>
                <p>三、选择公共场所见面</p>
                <p>如果双方确立了伴游关系，请在你们伴游前确定一个首要原则：选择公共场所见面。您一定多次听到过这样的劝告：单独去一个陌生、偏僻的场所和陌生人见面是多么危险。</p>
                <p>四、伴游时要察言观色</p>
                <p>您不可能通过网络完全了解一个人，所以约会时察言观色是加深对对方感性认知的好时机。随时观察对方的任何特征：吹牛、叹气、挥舞手脚、过激举动、眼神、表情等等，建立正确客观的第一印象对你伴游中大有裨益。</p>
                <p>五、伴游时其他注意事项</p>
                <p>请保护好手机号码，不要被对方知道号码或欺骗性借用；看管好身份证；不要在言谈话语中说出自己的电话号码、真实住址、公司等信息,请大家保持必要的谨慎和警惕，个人人身和财产的安全重于一切，在任何情况下都要确信自己的判断，并确信自己的行为是否会伤害到自己或者他人。</p>
            </div>
            <div class="protect" style="display: none;">
                <h3>隐私保护</h3>
                <p>租友网不会将您的个人识别信息出租或出售给任何人。</p>
                <h4>安全保障</h4>
                <p>您的租友网帐户具有密码保护功能，以确保您的隐私和信息安全。在某些情况下，租友网使用通行标准的保密系统，确保资料传送的安全性。</p>
                <h4>编辑和删除个人帐户资料（即结束服务）的权限 </h4>
                <p>租友网赋予您在服务期间的任何时候编辑租友网帐户信息的权利。用户或租友网可随时根据实际情况中断服务。用户若反对任何服务条款的建议或对后来的条款修改有异议，或对租友网服务不满，用户只有以下的追索权：</p>
                    <p>1) 不再使用租友网服务。 </p>
                    <p>2) 结束用户使用租友网服务的资格。</p>
                    <p>3) 通告租友网停止该用户的服务。</p>
                <p>结束用户服务后，用户使用租友网服务的权利马上终止。从那时起，租友网不再对用户承担任何义务。</p>
                <h4>隐私权政策的修订</h4>
                <p>租友网时常会对隐私权政策进行修改。如果在使用用户个人信息政策方面有大幅度修改时，我们会在网页中显著的位置贴出相关规定以便及时通知用户。</p>
                <p>如果你还有其他问题和建议，请直接与客服中心联系。</p>
            </div>
            <div class="items" style="display: none;">
                <h3>服务条款</h3>
                <p>欢迎你加入成为租友网会员，租友网会员服务(以下称会员服务)系由‘租友网’(以下称本网站)所建置提供，所有申请使用会员服务之使用者(以下称会员)，都应该详细阅读下列使用条款，这些使用条款订立的目的，是为了保护会员服务的提供者以及所有使用者的利益，并构成使用者与会员服务提供者之间的契约，使用者完成注册手续、或开始使用租友网网所提供之会员服务时，即视为已知悉、并完全同意本使用条款的所有约定：</p>
                <h4>会员服务</h4>
                <p>1. 一旦本网站完成并确认你的申请后，本网站将提供予你的‘一般’会员服务内容或其他未来可能新增之一般会员服务。</p>
                <p>2. 会员服务之期间，是指使用者填妥申请表格并完成注册程序后，本网站于完成相关系统设定、使会员服务达于可供使用之日。</p>
                <p>3. 会员服务仅依当时所提供之功能及状态提供服务；本公司并保留新增、修改或取消会员服务内相关系统或功能之全部或一部之权利。</p>
                <h4>帐号、密码与安全性</h4>
                <p>1. 在使用会员服务以前，必须经过完整的注册手续，在注册过程中你必须填入完整、而且正确的资料。</p>
                <p>2. 在注册过程中你可以自行选择使用者名称和密码，但在使用会员服务的过程中，你必须为经由这个使用者名称和密码所进行的所有行为负责。</p>
                <p>3. 对于你所取得的使用者名称和密码，你必须负妥善保管和保密的义务，如果你发现或怀疑这个使用者名称和密码被其他人冒用或不当使用，你必须立即通知本网站管理者，以利本网站尽快采取适当因应措施，但上述因应措施不得因此解释为本公司明示或默示对你负有任何形式之赔偿或补偿之责任或义务。</p>
                <h4>资料的隐私</h4>
                <p>1. 本网站会保护每一位会员的隐私，不管是申请帐号、个人资料、邮件内容、或所储存的网站资料，除了可能涉及违法、侵权、或违反使用条款、或经本人同意以外，本系统不会任意监视、增删、修改或关闭，或将个人资料及邮件内容交予第三者，包括赞助之广告厂商。</p>
                <p>2. 会员服务中如有部分特定服务是与其他合作厂商或伙伴共同经营，如果你不愿将个人资料揭露给其他合作伙伴，可以选择不使用这些特定服务，但如你开始使用这些特定服务，本公司将在资料搜集或传输前明确告知你后，将你的个人资料揭露给该特定服务之合作厂商或伙伴。</p>
                <p>3. 在下列的情况下，本公司有可能会查看或提供你的个人或相关电信资料给有权机关、或主张其权利受侵害并提出适当证明之第三人：</p>
                <p>(1) 依法令规定、或依司法机关或其他有权机关的命令；</p>
                <p>(2) 为执行本使用条款、或使用者违反使用条款；</p>
                <p>(3) 为保护会员服务系统之安全或经营者之合法权益；</p>
                <p>(4) 为保护其他使用者或其他第三人的合法权益；</p>
                <p>(5) 为维护会员服务系统的正常运作。</p>
                <h4>使用者的行为</h4>
                <p>1. 必须遵守《全国人大常委会关于维护互联网安全的决定》及中华人民共和国其他有关法律法规。</p>
                <p>2. 不得制作、复制、发布、传播含有下列内容的信息：</p>
                <p>(1) 反对宪法所确定的基本原则的；</p>
                <p>(2) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
                <p>(3) 损害国家荣誉和利益的；</p>
                <p>(4) 煽动民族仇恨、民族歧视，破坏民族团结的；</p>
                <p>(5) 破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
                <p>(6) 散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
                <p>(7) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
                <p>(8) 侮辱或者诽谤他人，侵害他人合法权益的；</p>
                <p>(9) 含有法律、行政法规禁止的其他内容的。</p>
                <p>3. 任何未经事前授权的商业行为都是被禁止的。</p>
                <p>4. 你利在本站发布的任何信息，均仅代表你的个人观点，而与本公司无涉。</p>
                <p>5. 您承担一切因您的行为而直接或间接导致的民事或刑事法律责任。</p>
                <h4>服务暂停或中断</h4>
                <p>1. 在下列情形，本网站将暂停或中断本服务之全部或一部，且对使用者任何直接或间接之损害，均不负任何责任：</p>
                <p>(1) 对本服务相关软硬体设备进行搬迁、更换、升级、保养或维修时；</p>
                <p>(2) 使用者有任何违反政府法令或本使用条款情形； </p>
                <p>(3) 天灾或其他不可抗力所致之服务停止或中断；</p>
                <p>(4) 其他不可归责于本网站之事由所致之服务停止或中断。</p>
                <p>2. 会员服务系统或功能‘例行性’之维护、改置或变动所发生之服务暂停或中断，本网站将于该暂停或中断前以公告或其他适当之方式告知会员。</p>
                <p>3. 因使用者违反相关法令或本使用条款、或依相关主管机关之要求、或因其他不可归责于本公司之事由，而致本服务全部或一部暂停或中断时，暂停或中断期间仍照常计费。</p>
                <h4>终止服务</h4>
                <p>1. 基于公司的运作，会员服务有可能停止提供服务之全部或一部，使用者不可以因此而要求任何赔偿或补偿。</p>
                <p>2. 如果你违反了本使用条款，本网站保留随时暂时停止提供服务、或终止提供服务之权利，你不可以因此而要求任何赔偿或补偿。</p>
                <p>3. 如果你在会员服务上所刊载、传输、发送或储存的档案或资料，有任何违反法令、违反本使用条款、有侵害第三人权益之虞，本网站保留随时得不经通知直接加以移动、删除或停止服务提供之权利。若本网站因此受到任何损害，你应对本网站负损害赔偿之责。</p>
                <h4>修改本使用条款的权利</h4>
                <p>本网站保留随时修改本会员服务使用规则的权利，修改后的会员服务使用条款将公布在本网站上，不另外个别通知使用者。</p>
                <p>本约定条款解释、补充及适用均以中华人民共和国法令依据。</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
<script type="text/javascript">
    $(function () {
        new PCAS("province3", "city3", "area3");
        $(".content .sidebar ul li").each(function() {
            $(this).click(function() {
                $(this).css({ background: "#36B0F3", color: "white" }).siblings().css({ background: "white", color: "#444" });
                switch ($(this).index()) {
                case 0:
                    $(".cons .introduce").show().siblings().hide();
                    break;
                case 1:
                    $(".cons .contact").show().siblings().hide();
                    break;
                case 2:
                    $(".cons .noresponse").show().siblings().hide();
                    break;
                case 3:
                    $(".cons .known").show().siblings().hide();
                    break;
                case 4:
                    $(".cons .protect").show().siblings().hide();
                    break;
                case 5:
                    $(".cons .items").show().siblings().hide();
                    break;
                default:
                    ;
                    break;
                }
            });
        });
        $('#seacha').click(function() {
            var ruul = "/RFriend/RentFriend?id=" + $('#seachtype option:selected').val() +
            ($('#seachage option:selected').val() != "" ? "&agerange=" + $('#seachage option:selected').val() : "") +
            ($('.province option:selected').val() != "" ? "&address=" + $('.province option:selected').val() + "," + $('.city option:selected').val() : "");
            $(this).attr("href", ruul);
        });
    })
    </script>