@{
    ViewBag.Title = "Roles";
    Layout = null;
}


<html>
<head>
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/layout.css" rel="stylesheet" />
    <link href="/modules/css/iconfont/iconfont.css" rel="stylesheet"/>
    <link href="/modules/plug/umeditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/Scripts/sea.js"></script>
    <script type="text/javascript" src="/Scripts/sea-config.js"></script>
    <script src="/modules/plug/umeditor/ueditor.config.js"></script>
    <script src="/modules/plug/umeditor/umeditor.min.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/sysset/active"], function (obj) {
            var um = UE.getEditor('remark');
            obj.init(um);
        });
    </script>
</head>
<body>
    <div class="main-body">
        <div class="main-content">
            <div class="header-box">
                <span class="header-title left">当前位置-活动管理</span>
                <div class="btn-add right" id="createModel">新建活动</div>
            </div>
            <div class="content-body">
                <table class="table-list">
                    <tr class="tr-header">
                        <td class="tLeft">活动海报</td>
                        <td class="tLeft">活动名称</td>
                        <td class="tLeft">活动简要</td>
                        <td class="tLeft">有效时间</td>
                        <td class="width100">状态</td>
                        <td class="width150">创建时间</td>
                        <td class="width150">创建人</td>
                        <td class="width80">操作</td>
                    </tr>
                </table>
            </div>
            <ul class="dropdown-ul hide" style="width: 65px;">
                <li class=" " id="updateObject">编辑</li>
                <li class=" " id="deleteObject">删除</li>
            </ul>
        </div>
    </div>
</body>
</html>
